body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    float: left;
}

header .logo img {
    max-height: 70px;
    max-width: 100%;
}

header .navbar {
    float: right;
}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar li {
    display: inline-block;
    margin-right: 20px;
}

header .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

header .navbar a:hover {
    color: #ffd500;
}

.container {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.609);
    align-content: center;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input[type="search"] {
    width: 48%;
    padding: 10px;
    background-color: #c3b5b5;
    border-radius: 8px;
    border: none;
    transition: .5s;
    margin-bottom: 10px;
}

input[type="search"]:hover {
    border-radius: 20px 1px;
}

input:focus {
    border: none;
    border-radius: 20px 1px;
}

select {
    width: 48%;
    padding: 10px;
    background-color: #c3b5b5;
    border-radius: 8px;
    border: none;
    transition: .5s;
    margin-bottom: 10px;
}

select:hover {
    border-radius: 20px 1px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    background-color: #4caf50;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .5s;
}

input[type="submit"]:hover {
    background-color: #45a049;
    border-radius: 20px 1px;
}


#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#searchResults div {
    width: 30%;
    margin: 1%;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #searchResults div {
        width: 100%;
        margin: 0;
    }
}
